<template name="home">
  <div class="row">
    <div class="col-lg-12">
      {{>basicDashboard}}
    </div>
  </div>
  <!--
  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
        {{#each interventions}}
        <a href="{{pathFor 'editIntervention'}}" class="list-group-item">
          {{> interventionSummaryItem}}
        </a>
        {{/each}}
      </div>
    </div>
  </div>
  <div></div>
  <!-- https://github.com/ecohealthalliance/reactive-table -->
</template>