/* CSS declarations go here */
input[type=date],input[type=time] {
	-webkit-appearance: none;
  -moz-appearance: none;
}
.control-label,.checkbox,.radio-inline,.radio label {
	font-size: 16pt;
}
.list-group-item.option {
	font-size:18px;
}
.form-group {
	margin-bottom: 35px;
}
textarea {
	resize: vertical;
}