<template name="dashboard">
  <div class="row">
    <div class="col-lg-9 col-md-9">
      <h2>HQ Dashboard</h2>
    </div>
    <div class="col-lg-3 col-md-3">
      <button class="btn btn-default">Add Intervention</button>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Interventions</h3>
    </div>
    <div class="panel-body">
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>Ref</th>
          <th>User</th>
          <th>Type</th>
          <th>Location</th>
          <th>Liquor Accord</th>
          <th>Comms Start</th>
          <th>Comms Finish</th>
        </tr>
      </thead>
      <tbody>
        {{#each interventions}}
          {{> interventionSummaryRow}}
        {{/each}}
      </tbody>
      <tfoot>
      </tfoot>
    </table>
    <div class="panel-footer">
    </div>
  </div>
</template>