<template name="showIntervention">
  <section id="header">
    <h1>
      {{{typeHtml}}}
      <span class="badge pull-right" style="font-size: 110%;">{{reference}}</span>
    </h1>
    <p class="lead">
      <span class="label {{#if $eq status 'Completed'}}label-success{{else}}label-info{{/if}} pull-right" style="font-size: 120%;line-height: 120%;">{{status}}</span>
      {{{statusDescription}}}
    </p>
  </section>
  {{#each panels}}
    {{#if isAvailable}}
    <section>
      <div class="page-header">
        <h2>{{label}} <small></small></h2>
      </div>
      <div>
        {{#each fields}}
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-6">
            <h3 style="margin-top:-2px;" class="hidden-xs pull-right">{{label}}</h3>
            <h4 style="margin-top:-2px;" class="visible-xs">{{label}}</h4>
          </div>
          <div class="col-lg-8 col-md-8 col-sm-6">
            <p class="lead">{{{ prettyResponse value name }}}</p>
          </div>
        </div>
        {{/each}}
      </div>
    </section>
    {{/if}}
  {{/each}}
</template>